torch>=2.10
torchaudio>=2.10
torchvision
transformers==4.57.6
accelerate==1.12.0
gradio
librosa
soundfile
sox
onnx
onnxscript
onnxruntime-directml
#onnxruntime-gpu
einops
pydub
av
sentencepiece



sounddevice
soundfile
gguf
numpy
scipy
fastapi
uvicorn
